repos:
- repo: local
  hooks:
  - id: update-list
    name: update-list
    entry: bash commit.sh
    language: system
    pass_filenames: false

  - id: shellcheck
    name: shellcheck
    entry: bash -c 'shellcheck shell/*.sh install/*.sh build/*.sh --exclude=SC1091,SC1090'
    language: system
    files: \.sh$
    pass_filenames: false
